  <link href='{{href | safe}}' type='text/css' rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{href | safe}}" type='text/css'></noscript>