<picture>
  <source srcset="{{src}}.webp" type="image/webp" class="img-fluid mx-auto d-block">
  <source srcset="{{src}}.jpg" type="image/jpeg" class="img-fluid mx-auto d-block">
  <img src="{{src}}.jpg" class="img-fluid mx-auto d-block" alt="{{alt}}" />
</picture>