<!DOCTYPE html>
<html lang="en" id="rootElement">
  <!-- hello -->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My custom Bulma website</title>
  <link rel="stylesheet" href="css/styles.css">
  <title>{% block title %}{{ config.title }} - {{ page.title | default(value="főoldal" )}}{% endblock title %}</title>
  <style>
  .no-webp .header-bg {
    background-image:
      linear-gradient(
        rgba(128, 128, 128, 0.45),
        rgba(128, 128, 128, 0.247)
      ),
  {% if page.extra.cover -%}
    {% set cover = "/img/" ~ page.extra.cover -%}
      url('{{ get_url(path=cover) ~ ".jpg" | safe }}')
  {% else -%}
      url('{{ get_url(path="/img/default-bg.jpg") | safe }}')
  {% endif -%}
  }

  .webp .header-bg {
    background-image:
      linear-gradient(
        rgba(128, 128, 128, 0.45),
        rgba(128, 128, 128, 0.247)
      ),
  {% if page.extra.cover -%}
    {% set cover = "/img/" ~ page.extra.cover -%}
      url('{{ get_url(path=cover) ~ ".webp" | safe}}')
  {% else -%}
      url('{{ get_url(path="/img/default-bg.webp") | safe }}')
  {% endif -%}
  }
  </style>
</head>

<body>
  <section class="hero header-bg is-medium">
    <div class="hero-head has-background-white">
      <nav class="navbar is-transparent">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <img src="https://bulma.io/images/bulma-logo.png" alt="Logo">
            </a>
            <button class="navbar-burger" data-target="navbarMenuHeroA" id="burger">
              <span></span>
              <span></span>
              <span></span>
            </button>
          </div>
          <div id="navbarMenuHeroA" class="navbar-menu is-primary">
            <div class="navbar-end">
              {% for item in config.extra.clean_blog_menu %}
              <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}"
                class="navbar-item">
                {{ item.name }}
              </a>
              {% endfor %}
              <span class="navbar-item">
                <a class="button is-primary is-inverted">
                  <span class="icon">
                    <i class="fab fa-github"></i>
                  </span>
                  <span>Download</span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body ">
      <div class="container is-max-desktop">
        <div class="columns">
          <div class="column">
            <p class="title">
              {{ config.title }}
            </p>
          </div>
          <div class="column">
            <p class="subtitle">
              {{ config.extra.subtitle }}
            </p>
            <p class="is-size-4">
              {{ section.extra.hero_text }}
            </p>
          </div>
        </div>
      </div>
    </div>

  </section>

  <script src="{{ get_url(path="js/modernizr-custom.js") | safe }}"></script>
  <script src="{{ get_url(path="js/bulma-helper.js") | safe }}"></script>
</body>

</html>